service: fizzy
image: hhassig/fizzy
servers:
  web:
    - 100.97.138.69
    # - 100.101.246.54
proxy:
  ssl: false
  host: fizzy.h4dev.io
  # host: fizzy.platoniq.net
registry:
  server: docker.io
  username: hhassig
  password:
    - KAMAL_REGISTRY_PASSWORD
env:
  secret:
    - RAILS_MASTER_KEY
    - SECRET_KEY_BASE
    - SMTP_USERNAME
    - SMTP_PASSWORD
    - VAPID_PRIVATE_KEY
    - VAPID_PUBLIC_KEY
  clear:
    SOLID_QUEUE_IN_PUMA: true
aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole --include-password"
volumes:
  - "fizzy_storage:/rails/storage"
  # - "fizzy_storage:/rails/storage/production"
asset_path: /rails/public/assets
builder:
  arch: amd64
